@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h2><span class="underLine">Details for @Html.DisplayFor(model => model.Name)</span></h2>
<h4><span class="underLine">Notes</span>:</h4>
<p>@Html.DisplayFor(model => model.Notes)</p>
<h4><span class="underLine">Client List</span>:</h4>
<ul>
  @foreach (var client in ViewBag.Show)
  {
    <h5>@Html.ActionLink($"{client.Name}", "Details","Clients", new { id = client.ClientId })</h5>
  }
</ul>

<div class="flex">
@Html.ActionLink("Add new Client", "Create", "Clients", null, new {@class = "btn btn-outline-dark"})
@Html.ActionLink("Edit Stylist", "Edit", "Stylists", new { id =Model.StylistId }, new { @class = "btn btn-outline-dark"})
@Html.ActionLink("Delete Stylist", "Delete", "Stylists", new { id =Model.StylistId }, new { @class = "btn btn-outline-dark"})
@Html.ActionLink("View all Stylists", "Index", "Stylists", null, new { @class = "btn btn-outline-dark"})
@Html.ActionLink("Home", "Index", "Home", null, new { @class = "btn btn-outline-dark"})
</div>

