@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h4><span class="underLine">Add a new Client</span></h4>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name, new {required = "required"})
  @Html.LabelFor(model => model.Notes)
  @Html.TextBoxFor(model => model.Notes)
  @Html.LabelFor(model => model.Stylist)
  @Html.DropDownList("StylistId", null, new {required = "required"})

  <input type="submit" value="Add New Client" class="btn btn-outline-success" />
}
<div class="flex">
  @Html.ActionLink("Show all Clients", "Index", "Clients", null, new { @class = "btn btn-outline-dark"})
  @Html.ActionLink("Home", "Index", "Home", null, new { @class = "btn btn-outline-dark"})
</div>