@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h2><span class="underLine">Details for @Html.DisplayFor(model => model.Name)</span></h2>
<h4><span class="underLine">Stylist</span>:</h4>
<p>@Html.DisplayFor(model => model.Stylist.Name)</p>
<h4><span class="underLine">Notes</span>:</h4>
<p>@Html.DisplayFor(model => model.Notes)</p>

<div class="flex">
@Html.ActionLink("Edit Client", "Edit", "Clients", new {id = Model.ClientId}, new { @class = "btn btn-outline-dark" })
@Html.ActionLink("Delete Client", "Delete", "Clients", new {id = Model.ClientId}, new { @class = "btn btn-outline-dark"})
@Html.ActionLink("View all Clients", "Index", "Clients", null, new { @class = "btn btn-outline-dark" })
</div>