@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h2><span class="underLine">Details for @Html.DisplayFor(model => model.Name)</span></h2>
<h4><span class="underLine">Stylist</span>:</h4>
<p>@Html.DisplayFor(model => model.Stylist.Name)</p>
<h4><span class="underLine">Notes</span>:</h4>
<p>@Html.DisplayFor(model => model.Notes)</p>

<button type="button" type="submit" class="btn btn-outline-dark">
  @Html.ActionLink("Edit Client", "Edit", new {id = Model.ClientId})</button>
<button type="button" type="submit" class="btn btn-outline-dark">
  @Html.ActionLink("Delete Client", "Delete", new {id = Model.ClientId})</button>
<a href='@Url.Action("Index", "Clients")' class="btn btn-outline-dark">Back to Clients</a>